<div class="page-header">
    <h1>Congratulations <?=($this->session->get('AUTH_NAME')? $this->session->get('AUTH_NAME'): '')?>!</h1>
</div>

<p>WBC test project</p>

<p><a href="/index/login">login</a></p>
<p><a href="/index/signup">signup</a></p>
